# minecraft
run/

# gradle
secrets.gradle
.kotlin/
.gradle/
build/
**/build/
out/
classes/
versions/*-*/**
!gradle-wrapper.jar

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# Documentation
**/node_modules
**/.docusaurus

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr


